
.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding-bottom: 80px;
  gap: 32px;
  font-family: var(--font-geist-sans);
  color: var(--foreground);
  background-color: var(--background);
}

.nav {
  width: 100%;
  background-color: var(--nav-background);
  color: var(--accent-text-2);
  padding: 10px 0;
  text-align: center;
  border-radius: 0.5rem;
}

.navLinks {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navLinks li {
  padding: 8px 12px;
  border-radius: 4px;
  transition: background 0.2s;
}

.navLinks li:hover {
  background: rgba(var(--tyrian-purple-rgb), 0.8);
  color: var(--accent-text-2);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-row-start: 2;
  text-align: center;
  width: 100%;
  line-height: 1.5;
  align-items: center;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--alpha-lighter);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
  color: var(--foreground);
}

.ctas {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 40px;
  padding: 0 16px;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

.secondary {
  border-color: var(--accent-text-1);
  color: var(--accent-text-1);
  min-width: auto;
}

.subtitle {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: var(--foreground);
  text-align: center;
  padding: 20px;
}

.subh {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  margin: 10px 0;
  color: var(--foreground);
}

.article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  line-height: 1.5;
  overflow: hidden;
  width: 100%;
}

.sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  place-content: center;
  padding: 1rem;
}

.sub img{
  border-radius: 5px;
}

.para {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  color: var(--foreground);
}

.footer {
  grid-row-start: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  background: var(--background);
  width: 100%;
  padding: 16px;
  justify-content: center;
  color: var(--foreground);
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--foreground);
  text-decoration: none;
}

.footer img {
  flex-shrink: 0;
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (min-width: 601px) {
  .page {
    padding: 40px 80px;
    gap: 64px;
  }

  .navLinks {
    justify-content: space-around;
  }

  .navLinks li:hover {
    background: var(--alpha-subtle);
    color: var(--foreground);
  }

  .main {
    align-items: initial;
  }

  .main ol {
    text-align: initial;
  }

  .ctas {
    flex-direction: row;
  }

  .ctas a {
    font-size: 16px;
    height: 48px;
    padding: 0 20px;
  }

  a.secondary {
    min-width: 158px;
  }

  .subh {
    font-size: 26px;
    grid-column: span 5;
  }

  .article {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(4, 5fr);
  }

  .sub {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .para {
    font-size: 20px;
  }

  .footer {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}