.page {
}

.nav {
  width: 100%;
  background-color: var(--nav-background);
  color: var(--accent-text-2);
  padding: 10px 0;
  text-align: center;
  border-radius: 0.5rem;
}

.navLinks {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navLinks li {
  padding: 8px 12px;
  border-radius: 4px;
  transition: background 0.2s;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-row-start: 2;
  text-align: center;
  width: 100%;
  line-height: 1.5;
  align-items: center;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--alpha-lighter);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
  color: var(--foreground);
}

.ctas {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 40px;
  padding: 0 16px;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}
.profileImage {
  border-radius: 100%;
  transition: all 0.2s;
}
.profileImage:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 5px var(--background);
}
.profileCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.profileMainGrid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  align-content: flex-start;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 1rem;
}
.myProfileGrid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.profileMainGrid > div {
  padding: 1rem;
}

.sellerReviews {
  font-size: 1rem;
  padding: 0 2rem;
  border-left: 2px solid #a9a9a9;
  display: grid;
}
.sellerReviews > h3 {
  margin-bottom: 1rem;
}
.ratingStar {
  color: goldenrod;
}
.sellerProductsList {
  width: 100%;
}
.productHeader {
  display: flex;
  place-items: center;
  width: 100%;
}
.productHeader div {
  margin-left: auto;
}
.productCount {
  margin-left: 1rem;
}
.buttonPurple {
  width: 100%;
  background-color: var(--nav-background);
  color: var(--background);
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
}

.productListing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2rem;
}
.secondary {
  border-color: var(--accent-text-1);
  color: var(--accent-text-1);
  min-width: auto;
}

.subtitle {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: var(--foreground);
  text-align: center;
  padding: 20px;
}

.subh {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  margin: 10px 0;
  color: var(--foreground);
}

.article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  line-height: 1.5;
  overflow: hidden;
  width: 100%;
  margin: 3rem 0;
}

/* Reviews */
.reviewItem {
  background-color: var(--background);
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border: 1px solid #e0e0e0;
}

.reviewText {
  color: #555;
  line-height: 1.6;
  margin-top: 0;
}
.reviewDate {
  font-size: 0.85rem;
  color: #888;
  text-align: right;
  margin: 0;
}

.sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  place-content: center;
  padding: 1rem 7rem;
  margin: 3rem 0;
}

.sub img {
  border-radius: 10px;
}

.para {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  color: var(--foreground);
}

.footer {
  grid-row-start: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  background: var(--background);
  width: 100%;
  padding: 16px;
  justify-content: center;
  color: var(--foreground);
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--foreground);
  text-decoration: none;
}

.footer img {
  flex-shrink: 0;
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

/* desktop version */
@media (min-width: 601px) {
  .page {
    padding: 40px 80px;
    gap: 64px;
  }

  .navLinks {
    justify-content: space-around;
  }

  .navLinks li:hover {
    background: var(--alpha-subtle);
    color: var(--foreground);
  }
  .main {
    align-items: initial;
    padding-top: 3rem;
  }

  .main ol {
    text-align: initial;
  }

  .ctas {
    flex-direction: row;
  }

  .ctas a {
    font-size: 16px;
    height: 48px;
    padding: 0 20px;
  }

  a.secondary {
    min-width: 158px;
  }

  .subh {
    font-size: 26px;
    grid-column: span 5;
  }

  .article {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(4, 5fr);
  }

  .sub {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .hambuger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .para {
    font-size: 20px;
  }

  .footer {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

@media screen and (max-width: 600px) {
  .page {
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
  }
  .nav {
    position: relative;
  }

  .navLinks {
    display: none;
  }

  .showMenu {
    display: flex !important;
    flex-direction: column;
    gap: 16px;
    margin-top: 10px;
    background-color: var(--nav-background);
    padding: 10px;
    border-radius: 8px;
    animation: slideDown 0.3s ease;
    color: azure;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .hambuger {
    padding: 0 10px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 30px;
    height: 4px;
    background-color: var(--foreground);
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 10px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }
}
