.productCard {
  display: grid;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  padding: 0.2rem;
}

.productCard img {
  border-radius: 4px;
  margin-bottom: 12px;
}
.itemName,
.itemPrice {
  text-align: left !important;
}
.itemName {
  font-weight: 500;
  color: var(--foreground);
  text-align: left !important;
}
.itemPrice {
  font-weight: 500;
  color: var(--accent-text-1);
  margin-top: 0;
}
.addToCart {
  width: 100%;
  background-color: var(--nav-background);
  color: var(--background);
  /* font-size: larger; */
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
}

@media (prefers-color-scheme: dark) {
  .productCard {
    box-shadow: 0 4px 6px rgba(var(--white-rgb), 0.05);
  }
}

@media (min-width: 768px) {
  .productCard {
    padding: 24px;
    max-width: 300px;
  }
}
